body {
  background: linear-gradient(240deg, rgb(225, 196, 196), rgb(255, 255, 255));
  color: var(--text);
  font-family: Luciole, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  overflow: hidden
}

@font-face {
  font-family: Achemine;
  src: url(assets/fonts/Achemine.ttf) format('truetype')
}

@font-face {
  font-family: Transilien;
  src: url(assets/fonts/TransilienSmall.ttf) format('truetype')
}

h1 {
  margin: 10px 20px;
  font-size: 32px
}

.App {
  position: absolute;
  height: 100vh;
  width: 25vw;
  top: 0;
  left: 0;
  background-color: #333;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24)
}

.Trafic {
  position: absolute;
  height: 100vh;
  width: 75vw;
  top: 0;
  left: 25vw;
  animation: .8s ease 0s 1 normal none running SettingsOptions
}

.Background {
  position: absolute;
  background-position: center center;
  background-size: cover;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -10
}

.Webcam {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  animation: .8s ease 0s 1 normal none running SettingsOptions
}

.Départ {
  position: absolute;
  height: 100vh;
  width: 75vw;
  top: 0;
  left: 25vw
}

.slug1 {
  border: 4px solid #eb2132
}

.slug2 {
  border: 4px solid #f58f53
}

.slug3 {
  border: 4px solid #008b5b
}

.slug0 {
  border: 4px solid #ffffff00
}

.trafic_block {
  background-color: #00000014;
  border-radius: 10px;
  margin-left: 15px;
  height: 45px;
  width: 45px;
  display: inline-block
}

.trafic_block .img {
  max-width: 35px;
  padding: 5px
}

.trafic_block .trafic_img {
  position: relative;
  top: -15px;
  left: 30px;
  height: 25px;
  width: 25px;
  display: inline-block
}

.trafic {
  position: relative;
  top: 75px;
  color: #ddd
}

.trafic .trafic_block {
  display: block
}

.trafic b {
  position: relative;
  top: -45px;
  margin-left: 85px;
  font-size: 17px;
  display: block
}

.trafic .line {
  position: relative;
  top: -40px;
  margin: 0 10px 20px 0;
  display: block
}

.line {
  white-space: pre-line
}

.time {
  font-family: Transilien;
  z-index: 50;
  position: relative;
  left: -10px;
  top: 0;
  background-color: #141414;
  border-radius: 15px;
  padding: 15px 10px 10px 20px;
  color: #fcc900;
  font-size: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24)
}

.date {
  position: relative;
  top: -5px;
  font-weight: 700;
  font-size: 17px;
  color: #fcc900;
  z-index: 5
}


.det_img {
  width: 25px;
  position: relative;
  top: 5px;
  margin: 0 10px
}

.weather_block {
  text-align: center
}

.weather_block img {
  width: 35px
}

.fake_img {
  width: 35px;
  height: 35px;
  display: inline-block
}

.fake_img span {
  background-color: #ddd;
  height: 2px;
  width: 60px;
  left: -10px;
  position: relative;
  display: inline-block
}

.weather td {
  width: 55px;
  max-width: 55px;
  min-width: 55px
}

.canva_point_temp {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #ddd;
  position: relative
}

.canva_block_temp {
  position: relative;
  font-size: 17px;
  height: 22.4px;
  padding: 5px 10px;
  margin-bottom: 15px;
  display: inline-block;
  color: #fff;
}

.canva_nonblock_temp {
  position: relative;
  font-size: 17px;
  height: 18px;
  padding: 5px 10px;
  margin-bottom: 15px;
  display: inline-block
}

.canva_line {
  background-color: #ddd;
  width: 60px;
  height: 2px;
  display: inline-block;
  position: relative;
  left: 27px;
  margin-bottom: 21px;
  margin-left: 4px;
  margin-top: -6px;
  z-index: 1
}

.canva_lineup_time {
  height: 10px;
  width: 2px;
  background-color: #ddd;
  display: inline-block
}

.canva_linenone_time {
  height: 10px;
  background-color: #ddd000;
  display: inline-block
}

.canva_block_time {
  color: #ddd;
  font-weight: 700;
  height: 21px
}

.Webcam .webcam {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: inline-block;
  background-size: cover;
  background-position: center center
}

.Départ {
  animation: .8s ease 0s 1 normal none running SettingsOptions
}

.Départ .cancelled,
.Départ .interrogation,
.Départ .late,
.Départ .ok {
  width: 70vw;
  border-radius: 10px;
  margin: 5px 10px 4px;
  background-color: #00000014;
  display: inline-block
}

.Départ .cancelled {
  border: 4px solid #eb2132
}

.Départ .late {
  border: 4px solid #f58f53
}

.Départ .ok {
  border: 4px solid #ffffff00
}

.Départ .interrogation {
  border: 4px solid #ffffff00
}

.Départ .name {
  position: relative;
  top: -4px;
  font-weight: 700;
  font-size: 20px;
  color: #4f4f4f;
  padding-left: 15px;
  width: 60px;
  display: inline-block
}

.Départ .trafic_warning {
  font-size: 17px;
  background-color: #f58f53;
  color: #fff;
  padding: 5px;
  border-radius: 10px 10px 10px 0;
  position: relative;
  top: 2px;
  left: -10px;
  z-index: -10
}

.Départ .trafic_info {
  font-size: 17px;
  background-color: #005bbc;
  color: #fff;
  padding: 5px;
  border-radius: 10px 10px 10px 0;
  position: relative;
  top: 2px;
  left: -10px;
  z-index: -10
}

.Départ .trafic_delete {
  font-size: 17px;
  background-color: #eb2031;
  color: #fff;
  padding: 5px;
  border-radius: 10px 10px 10px 0;
  position: relative;
  top: 2px;
  left: -10px;
  z-index: -10
}

.Départ .direct {
  font-size: 17px;
  background-color: #14141480;
  color: #fff;
  padding: 5px 5px 5px 15px;
  border-radius: 0 10px 10px 0;
  position: relative;
  top: 2px;
  left: -20px;
  z-index: -15
}

.Départ .depart {
  font-family: Transilien;
  font-weight: 700;
  font-size: 35px;
  color: #f6cd2f;
  margin-left: 15px;
  background-color: #141414;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  top: 0;
  width: 85px;
  display: inline-block;
  text-align: center
}

.Départ .arrival {
  font-family: Transilien;
  font-weight: 700;
  font-size: 35px;
  color: #f6cd2f;
  margin-left: 15px;
  background-color: #737373;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  top: 0;
  width: 85px;
  display: inline-block;
  text-align: center
}

.Départ .dest {
  font-weight: 700;
  font-size: 22px;
  color: #4f4f4f;
  padding-left: 15px
}

.Départ .terminus {
  font-weight: 700;
  font-size: 22px;
  color: #737373;
  padding-left: 15px
}

.Départ .class {
  width: 70px;
  height: 33.75px;
  display: inline-block;
  padding-left: 15px;
  position: relative
}

.Départ .class_img {
  max-width: 70px;
  max-height: 33.75px;
  position: relative;
  top: 7px
}

.Départ .trafic_img {
  position: relative;
  top: 23px;
  left: -30px;
  height: 25px;
  width: 25px
}

.maintenance {
  text-align: center;
  margin-top: 20vh
}

.maintenance img {
  width: 150px
}

.white-svg {
  filter: invert(100%) sepia(93%) saturate(27%) hue-rotate(39deg) brightness(107%) contrast(107%)
}

.is-inline-block {
  display: inline-block !important
}

.ml-3 {
  margin-left: 1.5em
}

/* ---------------------------------------------------------------- */
.Weather {
  position: absolute;
  width: 75vw;
  left: 25vw;
  color: #fff;
}

.temp_min {
  background-color: #297cd3;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px
}

.temp_max {
  background-color: #c62626;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px
}

.temp_space {
  width: 20px;
  display: inline-block
}

.Weather .type {
  width: 120px
}

.Weather .temp {
  font-weight: 700;
  font-size: 17px;
  background-color: #1c4877;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px
}


.Graph {
  position: absolute;
  width: 75vw;
  left: 25vw;
  color: #fff;
  animation: .8s ease 0s 1 normal none running SettingsOptions
}

/* ---------------------------------------------------------------- */
.title {
  position: absolute;
  color: #ddd;
  animation: .8s ease 0s 1 normal none running SettingsOptions
}

.bottom-shadow {
  box-shadow: 0 0 60px 40px rgba(30, 30, 30, .78);
  background-color: rgba(30, 30, 30, .7);
  color: #fff;
  position: absolute;
  animation: .8s ease 0s 1 normal none running SettingsOptions
}

.temperature {
  position: absolute;
  margin: 30px;
  color: #fff;
}

.description {
  font-size: 20px
}

.value {
  font-size: 140px;
  font-weight: 700;
}

.unit {
  position: relative;
  top: -80px
}

.details {
  position: absolute;
  margin: 30px;
  color: #fff
}

.weather .description {
  width: 180px;
}

.graph .description {
  width: 180px;
}

/* ---------------------------------------------------------------- */
.home .title {
  top: 65vh;
  left: 0;
  opacity: 1;
}

.home .bottom-shadow {
  bottom: -0vh;
  width: 100vw;
  height: 25vh;
}

.home .temperature {
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: initial;
  align-items: end;
  width: 355px;
  justify-content: flex-end;
}

.home .details {
  right: 0;
  bottom: 0;
  width: 355px;
  text-align: end;
}

.home .Graph {
  bottom: -100vh;
}

.home .Weather {
  bottom: -100vh;
}

.home .description {
  position: relative;
  bottom: 25px;
}

/* ---------------------------------------------------------------- */
.weather .title {
  top: -10vh;
  left: 0;
  opacity: 0;
}

.weather .bottom-shadow {
  bottom: 0vh;
  width: 100vw;
  height: 100vh;
}

.weather .temperature {
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: flex-end;
  width: calc(100vw - 40px);
}

.weather .temperature .value {
  font-size: 110px;
}

.weather .temperature .unit {
  top: -60px;
}

.weather .details {
  right: 0;
  bottom: 0;
  width: calc(100vw - 40px);
  text-align: start;
}

.weather .Graph {
  bottom: -100vh;
}

.weather .Weather {
  bottom: 0vh;
  transition-delay: 0.3s;
}

.weather .description {
  width: 180px;
  position: relative;
  bottom: 25px;
}

/* ---------------------------------------------------------------- */
.graph .title {
  top: -10vh;
  left: 0;
  opacity: 0;
}

.graph .bottom-shadow {
  bottom: 0vh;
  width: 100vw;
  height: 100vh;
}

.graph .temperature {
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-content: flex-end;
  width: calc(100vw - 40px);
}

.graph .temperature .value {
  font-size: 110px;
}

.graph .temperature .unit {
  top: -60px;
}

.graph .details {
  right: 0;
  bottom: 0;
  width: calc(100vw - 40px);
  text-align: start;
}

.graph .Graph {
  bottom: 0vh;
}

.graph .Weather {
  bottom: 100vh;
}

.weather .description {
  width: 180px;
  position: relative;
  bottom: 25px;
}

/* ---------------------------------------------------------------- */

.home>*,
.weather>*,
.temperature>*,
.value,
.unit {
  transition: all 1s ease;
}

@keyframes SettingsOptions {
  0% {
    margin-left: 50px;
    margin-right: -50px;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}